body{
    background: #ff5064;
    font-family: "Segoe UI", serif;
}

span{
    color: seagreen;
    font-weight: bold;
    font-size: 18px;
}

p{
    font-size: 1.5rem;
    color: darkgreen;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
}